body {
  background-color: lightblue;
}
<<<<<<< HEAD

#navbar{
  display: flex;
  justify-content: space-between;
  border: 3px dotted red;
}
=======
#footer {
  position: fixed;
  bottom: 0px;
  width: auto;
  text-align: center;
}

span {
  padding: 2px;
  font-size: 8px;
  
}

#tiny-git {
  max-width: 8%;
  background: rgba( 252, 249, 249, 0 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 10px;
}
>>>>>>> main
