body {
  background-color: lightgoldenrodyellow;
}

#profile-area {
  display: flex;
  flex-direction: column;
  background-color: #333;
  height: 750px;
  width: 250px;
}

.profile-img > img {
  border-radius: 50%;
  width: 200px;
}
